<section class="mt-5">
    <h2 class = "text-center">Detalle de mascota</h2>
<br>
<br>


<h4><center><p><b> Detalles de la mascota id: </b> {{mascota.id}}</p></center></h4>
<br>
<br>

<h4><center><p><b> ID: </b> {{mascota.id}}</p></center></h4>
<h4><center><p><b> Nombre: </b> {{mascota.nombre}}</p></center></h4>
<h4><center><p><b> Nombre del Propietario:</b>  {{mascota.propietario.nombre}}</p></center></h4>
<h4><center><p><b> Run Propietario: </b> {{mascota.propietario.run}}</p></center></h4>


