<section class="mt-5">
    <h2 class = "text-center">Datos de Registro buscado por Nombre de la mascota</h2>
<br>
<br>


<h4><center><p><b> Datos de la mascota: </b> {{mascota.nombre}}</p></center></h4>
<br>
<br>





<h4><center><p><b> ID: </b> {{mascota.id}}</p></center></h4>
<h4><center><p><b> Nombre: </b> {{mascota.nombre}}</p></center></h4>
<h4><center><p><b> Nombre del Propietario:</b>  {{mascota.propietario.nombre}}</p></center></h4>
<h4><center><p><b> Run Propietario: </b> {{mascota.propietario.run}}</p></center></h4>
